@import url("~leaflet/dist/leaflet.css");
@keyframes fadeIn {
  from {
    opacity: 0; /* Popup bắt đầu với độ trong suốt là 0 */
  }
  to {
    opacity: 1; /* Popup kết thúc với độ trong suốt là 1, tức là hiển thị hoàn toàn */
  }
}
.leaflet-container{
  width: 100%;
  height: 100vh;
}
.leaflet-popup-tip {
  background: transparent;
  border: none;
  box-shadow: none;
}
.red .leaflet-popup-content-wrapper  {
  background:rgba(176, 13, 13, 0.703);
  color:#fff;
  font-size:16px;
  
  line-height:24px;
  border-radius: 0px;
  text-align: center;
  
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  border-radius: 15px;
  }
  .green .leaflet-popup-content-wrapper  {
    background:rgba(0, 128, 0, 0.629);
    color:yellow;
    font-size:16px;
    line-height:24px;
    border-radius: 0px;
    text-align: center;
    border-radius: 15px;
    }
    .yellow .leaflet-popup-content-wrapper  {
      background:rgba(255, 255, 0, 0.742);
      color:blue;
      font-size:16px;
      line-height:24px;
      border-radius: 0px;
      text-align: center;
      border-radius: 15px;
      }
    
  .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.1);
  }
  .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
  .sildebar{ 
    background-image: url('./fresh-background.jpg');
    background-color: rgba(255, 255, 255, 0.7);padding: 10px;
    position: absolute;
    width: 400px;
    height: 100vh;
    z-index: 1000;
    margin-left: 0px;
    transition: 0.5s;
    text-align: center;
    font-size:30px;
    color:  white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1); /* Tạo bóng */
  }
  a {
    color: white;
    font-size: 20px;
  }
  .header {
    background-color: #333333af; /* Màu nền */
    color: white; /* Màu chữ */
    padding: 5px; /* Khoảng cách bên trong header */
    text-align: center; /* Căn giữa nội dung */
    font-size: 30px; /* Kích thước chữ */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Tạo bóng */
    position: fixed; /* Header cố định ở trên cùng */
    top: 0; /* Hiển thị ở đầu trang */
    left: 30%; /* Hiển thị ở bên trái */
    font-weight: bold;
    z-index: 1000; /* Z-index cao hơn sidebar */
    margin: 5px 5px 5px 5px;
    border-radius: 15px;
    text-transform: uppercase;
    
  }
  
img.member{
  height: 100px;
  width: 100px;
  margin: 5px;
  bottom: 0;
  left: 0;
  border-radius: 10px;
}
img.thangdo{
  height: 370px;
  width: 400px;

}
img.icon{
  height: 80px;
  width: 70px;
  margin: 5px;
  bottom: 0;
  left: 0;
  vertical-align: middle;
}
